@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #f6f4ef;
  color: #111;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #7f1d1d;
  border-radius: 20px;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (min-width: 768px) {
  .hide-on-desktop {
    display: none !important;
  }
}
