@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #f6f4ef;
  color: #111;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background: #7f1d1d;
  border-radius: 20px;
  height: 2px  !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.no-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important; 
}

@media (min-width: 768px) {
  .hide-on-desktop {
    display: none !important;
  }
}
